button:nth-child(1){
    animation: idle 2.5s alternate infinite;
}

@keyframes idle {
    0% {
        transform: matrix(1, 0, 0, 1, 0, 0);
    }
    50% {
        transform: matrix(1.1, 0, 0, 1.1, 0, 0);
    }
    100% {
        transform: matrix(1, 0, 0, 1, 0, 0);
    }
}